<div class="event" wfd-id="91">
  <div class="content" wfd-id="92">
    <div class="summary" wfd-id="93">
      <em><%="#{message.user.username}:"%> </em> <%="#{message.body}"%>
    </div>
  </div>
</div>
