<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Say something
</h4>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed" wfd-id="81">
          <div class="event" wfd-id="91">
            <div class="content" wfd-id="92">
              <div class="summary" wfd-id="93">
                 <em>Elliot Fu:</em> Hey there how are u?
              </div>
            </div>
          </div>
          <div class="event" wfd-id="88">
            <div class="content" wfd-id="89">
              <div class="summary" wfd-id="90">
                 <em>Stevie Feliciano:</em> Fine and how are you Troy?
              </div>
            </div>
          </div>
          <div class="event" wfd-id="85">
            <div class="content" wfd-id="86">
              <div class="summary" wfd-id="87">
                 <em>Helen Troy:</em> Fine but quite busy.
              </div>
            </div>
          </div>
          <div class="event" wfd-id="82">
            <div class="content" wfd-id="83">
              <div class="summary" wfd-id="84">
                 <em>Christian Rocha:</em> Hey there!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form" wfd-id="196">
          <div class="field" wfd-id="198">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Message" wfd-id="180">
              <i class="bordered inverted orange edit icon"></i>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu" wfd-id="162">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
