<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Say something
</h4>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card">
      <div class="content chatbox" id='messages'>
        <div class="ui feed" id="messages-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, method: :post, remote: true) do |f| %>
          <%= f.text_field :body, class: "ui fluid input", placeholder: "message" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="four wide column chatbox">
    <div class="ui fluid raised card">
      <div class="content chatbox">
        <div class="ui inverted vertical menu" wfd-id="162">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
