<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Say something
</h4>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui small feed" wfd-id="81">
          <h4 class="ui header">Followers Activity</h4>
          <div class="event" wfd-id="91">
            <div class="content" wfd-id="92">
              <div class="summary" wfd-id="93">
                 <a>Elliot Fu</a> added <a>Jenny Hess</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" wfd-id="88">
            <div class="content" wfd-id="89">
              <div class="summary" wfd-id="90">
                 <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" wfd-id="85">
            <div class="content" wfd-id="86">
              <div class="summary" wfd-id="87">
                 <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
              </div>
            </div>
          </div>
          <div class="event" wfd-id="82">
            <div class="content" wfd-id="83">
              <div class="summary" wfd-id="84">
                 <a>Christian Rocha</a> signed up for the  site.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu" wfd-id="162">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
